<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/confetti_cuisine.css">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
</head>

<header>

    <h1 id="headerh1">Confetti Cuisine</h1>

    <div id="buttons">
    <a href="index.html"><button>Home</button></a>
    <a href="courses.html"><button>Courses</button></a>
    <a href="contact.html"><button>Contact</button></a>
    </div>

</header>

<body id="bodyContact">

    <div class="flex-container">
        <img id="contactImg" src="/public/images/contact.jpg">
        <div id="flex-container2">
            <h1 class="bodyh1">Reach Out to Us!</h1>
            <p id="contactP">
                Enter your email if you're interested and want to learn more.
            </p>

            <form class="contact-form" action="/" method="post">
                <input type="email" name="email" required>
                <input class="button" type="submit" value="Submit">
            </form>

            <p>We'll get back to you soon!</p>
        </div>
        </div>

</body>