<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/confetti_cuisine.css">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
</head>

<header>

    <h1 id="headerh1">Confetti Cuisine</h1>

    <div id="buttons">
    <a href="index.html"><button>Home</button></a>
    <a href="courses.html"><button>Courses</button></a>
    <a href="contact.html"><button>Contact</button></a>
    </div>

</header>

<body id="bodyCourses">


    <div class="flex-container">
    <div class="card">
        <img src="/public/images/basic.jpg" alt="Basic" style="width: 100%">
        <div class="card-container">
          <h4><b>Basic Cooking Class</b></h4>
          <p>This is our Basic Cooking class designed for beginners.</p>
          <br>
          <button>Basic Course</button>
        </div>
      </div>

      <div class="card">
        <img src="/public/images/advanced.jpg" alt="Advanced" style="width: 100%">
        <div class="card-container">
          <h4><b>Advanced Cooking Class</b></h4>
          <p>This is our Advanced Cooking class designed for intermediate chefs.</p>
          <button>Advanced Course</button>
        </div>
      </div>

    <div class="card">
      <img src="/public/images/experienced.jpg" alt="Experienced" style="width: 100%">
      <div class="card-container">
        <h4><b>Experienced Cooking Class</b></h4>
        <p>This is our Experienced Cooking class designed for experienced chefs.</p>
        <button>Experienced Course</button>
      </div>
    </div>
  </div>

</body>
</html>